/*----------ОБНУЛЕНИЕ-------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

/*------------------------*/


body{
    background: #BEFFFA;
}

aside{
    float: left;
    background: #4AFFEF;
    width: 18%;
    padding: 2.5%;
    height: 100vh;
    color: #294CFF;
    border-right: 5px solid #00CCCC;
}

aside img{
    width: 80px;
    float: left;
}

aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
}

aside h3{
    margin-top: 50px;
    font-size: 28px;
}

aside ul li{
    color: black;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}
aside ul li:hover, aside a li:hover{
    color: #E8FF48;
    text-decoration: none;
    transform: scale(1.05);
}

main .features{
    float: left;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}
main .features h1{
    font-size: 60px;
    color: #294CFF;
}
main .features p{
    max-width: 400px;
    margin: 20px auto;
}
main .alert-warning{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
main h3{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}
form{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}